@import "../../scss/variables";

.root {
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: var($orange);
      transition: all 0.4s;
      text-align: center;
      width: 45px;
      padding: 10px;
      border: 1px solid $orange;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        background-color: $orange;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $orange;
        color: #fff;
      }
    }
  }
}
