# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
INFO/react-pizza-html-master.zip
INFO/react-pizza-html-master/.gitignore
INFO/react-pizza-html-master/gulpfile.js
INFO/react-pizza-html-master/package.json
INFO/react-pizza-html-master/yarn.lock
INFO/react-pizza-html-master/public/cart-empty.html
INFO/react-pizza-html-master/public/cart.html
INFO/react-pizza-html-master/public/index.html
INFO/react-pizza-html-master/public/css/app.css
INFO/react-pizza-html-master/public/fonts/ProximaNova-Black.eot
INFO/react-pizza-html-master/public/fonts/ProximaNova-Black.ttf
INFO/react-pizza-html-master/public/fonts/ProximaNova-Black.woff
INFO/react-pizza-html-master/public/fonts/ProximaNova-Bold.eot
INFO/react-pizza-html-master/public/fonts/ProximaNova-Bold.ttf
INFO/react-pizza-html-master/public/fonts/ProximaNova-Bold.woff
INFO/react-pizza-html-master/public/fonts/ProximaNova-Extrabld.eot
INFO/react-pizza-html-master/public/fonts/ProximaNova-Extrabld.ttf
INFO/react-pizza-html-master/public/fonts/ProximaNova-Extrabld.woff
INFO/react-pizza-html-master/public/fonts/ProximaNova-Regular.eot
INFO/react-pizza-html-master/public/fonts/ProximaNova-Regular.ttf
INFO/react-pizza-html-master/public/fonts/ProximaNova-Regular.woff
INFO/react-pizza-html-master/public/fonts/ProximaNova-Semibold.eot
INFO/react-pizza-html-master/public/fonts/ProximaNova-Semibold.ttf
INFO/react-pizza-html-master/public/fonts/ProximaNova-Semibold.woff
INFO/react-pizza-html-master/public/img/arrow-top.svg
INFO/react-pizza-html-master/public/img/cart.svg
INFO/react-pizza-html-master/public/img/empty-cart.png
INFO/react-pizza-html-master/public/img/grey-arrow-left.svg
INFO/react-pizza-html-master/public/img/pizza-logo.svg
INFO/react-pizza-html-master/public/img/plus.svg
INFO/react-pizza-html-master/public/img/trash.svg
INFO/react-pizza-html-master/public/js/app.js
INFO/react-pizza-html-master/src/ejs/cart-empty.ejs
INFO/react-pizza-html-master/src/ejs/cart.ejs
INFO/react-pizza-html-master/src/ejs/index.ejs
INFO/react-pizza-html-master/src/ejs/components/cart-item.ejs
INFO/react-pizza-html-master/src/ejs/components/pizza-block.ejs
INFO/react-pizza-html-master/src/js/app.js
INFO/react-pizza-html-master/src/scss/_fonts.scss
INFO/react-pizza-html-master/src/scss/_variables.scss
INFO/react-pizza-html-master/src/scss/app.scss
INFO/react-pizza-html-master/src/scss/components/_all.scss
INFO/react-pizza-html-master/src/scss/components/_button.scss
INFO/react-pizza-html-master/src/scss/components/_categories.scss
INFO/react-pizza-html-master/src/scss/components/_header.scss
INFO/react-pizza-html-master/src/scss/components/_pizza-block.scss
INFO/react-pizza-html-master/src/scss/components/_sort.scss
INFO/react-pizza-html-master/src/scss/libs/_normalize.scss
INFO/info
